@import "./font.css";
.container-fluid {
    margin: 0;
    padding: 0
}

#header .container-fluid {
    background-image: url(../Assets/background/bunting-flag.webp);
    background-position: cover;
    background-repeat: repeat;
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#header .container-fluid::before {
    content: '';
    background-color: rgba(17, 17, 17, 0.6);
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    height: 500px;
    width: 50%;
}
#header .container-fluid::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    height: 500px;
    width: 50%;
}

#header .container-fluid h1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    filter: drop-shadow(5px 5px 0px #ffc107);
    color: #ffff
}

@media only screen and (max-width: 767px) {
    #header .container-fluid h1 {
        font-size: 65px;
        filter: drop-shadow(3px 3px 0px #ffc107)
    }
    .contact-us-h1 {
        font-size: 35px!important
    }
    .card-text {
        font-size: 16px!important;
        text-align: center
    }
}

@media only screen and (max-width: 480px) {
    #header .container-fluid h1 {
        font-size: 30px;
        filter: drop-shadow(3px 3px 0px #ffc107)
    }
    .contact-us-h1 {
        font-size: 28px!important
    }
    .card-text {
        font-size: 14px!important;
        text-align: center
    }
    #header .container-fluid{
        height: 400px;
    }
    #header .container-fluid::after{
        height: 400px;
    }
    #header .container-fluid::before{
        height: 400px;
    }
}

.card {
    margin-top: 20px
}

.card-img-top {
    color: #1e90ff
}

.card-title {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 3px
}

.card-text {
    font-size: 18px;
    text-align: center
}

.row {
    justify-content: center
}

.contact-us-h1 {
    color: #666;
    font-family: "Oswald", sans-serif;
    font-size: 45px
}

.text-muted {
    color: #b1b1b1;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: "Poppins", sans-serif
}